html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}


/*Header part*/

.header {
    width: 100%;
    height: 90%;
    background-color: white;
}

a {
	font-family: 'Lato', sans-serif;
}

.logo {
    height: 60px;
}

.navbar.navbar-fixed-top {
    border-bottom: 5px solid #FF2B06;
    min-height: 80px;
}

.navbar-fixed-top {
    display: table;
    margin: 0 auto;
    width: 100%;
    background-color: white;
}

.nav-bar {
    display: table-cell;
    vertical-align: middle;
}

.links {
    float: right;
    margin-top: 25px;
}

.btn-default:hover,
.dropdown-toggle.btn-default:hover {
    background-color: #FF2B06;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open>.dropdown-toggle.btn-default {
    color: white;
}

.links.btn {
    min-width: 60px;
}

.intro {
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

.quote {
    font-size: 40px;
    color: #888;
}

.details {
    /*color: black;*/
    height: 40%;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
}

.venue {
    /*background-color: grey;*/
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    border-right: 1px solid grey;
    height: 100%;
    display: table;
}

.venue-details {
    display: table-cell;
    vertical-align: middle;
}

.map-area {
    /*background-color: grey;*/
    border-right: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 100%;
}

#map {
    height: 100%;
    width: 35%;
}


/*End portion*/

.footer {
    /*height: 100px;*/
    background-color: #EDEDED;
    font-size: 10px;
}

.end {
    padding: 30px 0;
}

.social-links-bottom {
    float: right;
}
